<%- include('./templates/header.ejs') %>
<body>
<%- include('./templates/nav.ejs') %>

<form class="text-white">
   
</form>
<br>
<br>
<a class="btn btn-primary" href="/consult1">Buscar Cliente</a>
<br>
<br>
<br>
<a class="btn btn-primary" href="/clients">Mostrar Lista Clientes</a>
<br>
<br>
<a class="btn btn-primary" href="/cars">Mostrar Lista Autos</a>



<%- include('./templates/Footer.ejs') %>
</body>
</html>