
<%- include('./templates/header.ejs') %>
<body>
<%- include('./templates/nav.ejs') %>

<form class="text-white">
    <div class="mb-3 w-25">
        <label for="inputNumberCar" class="form-label">Consulta Carro</label>
        <input type="number" id="inputNumberCar" name="inputNumberCar" class="form-control" placeholder="Numero Cliente">
    </div>
    <button type="submit" class="btn btn-primary">Consultar</button>
</form>

<%- include('./templates/Footer.ejs') %>
</body>
</html>